<h1>Beverages we drink in the class</h1>


<!-- #7display the arrays defined in #6, #Reference: google EJS-->
<ul>
  <% for(var i = 0; i < DataVariable.items.length; i++) {%>
  <li><%= DataVariable.items[i].stuff %></li>
  <% } %>
</ul>
